.card.glow{
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
    box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
}

.card-display {
    text-align: center;
}

.card-display img {
    width: 120px;
    height: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}