.card.glow{
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
    box-shadow: 0px 0px 30px 10px rgba(255,0,0,1);
}

.card-display {
    text-align: center;
}

.card-display {
    width: 7em;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
}