.card.glow {
  -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
}

.card-display {
  text-align: center;
}

.card-display {
  width: 7em;
  height: auto;
  margin: 0.5em 1em 0.5em 1em;
}
