.card-hand {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
  margin-left: 8rem;
  height: 12rem;
}

.your-hand {
  margin-top: 2rem;
}

.opponent-hand {
  margin-bottom: 2rem;
}

.empty-card {
  width: 7rem;
  margin: auto 1em auto 1em;
}

/* if there are 6+ cards in the hand, shrink the margins */
.empty-card:nth-last-child(n + 5),
.empty-card:nth-last-child(n + 5) ~ .empty-card {
  margin: auto 0.5em auto 0.5em;
  width: 5em;
}

/*  If there are 9+ cards in the hand, shrink the margins */
.empty-card:nth-last-child(n + 9),
.empty-card:nth-last-child(n + 9) ~ .empty-card {
  margin: auto 0.3em auto 0.3em;
  width: 2rem;
}
