.username-text {
    display: table;
    margin: 0 auto;
}

.username-text.glow {
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 10px #d900ff,
    0 0 15px #d900ff,
    0 0 15px #d900ff,
    0 0 15px #d900ff,
    0 0 15px #d900ff;
}
