body {
    overflow-y: hidden;
}

.game-interface {
    height: 100vh !important;
}

.deck-area {
    display: flex;
    justify-content: center;
}

.card-deck {
    padding-left: 1em;
    padding-right: 1em;
}

.temporary-card {
    padding-left: 1em;
    padding-right: 1em;
}

.discard-pile {
    padding-left: 1em;
    padding-right: 1em;
}

.button-row {
    height: 4rem !important;
    padding: 0 !important;
}
.game-button {
    height: inherit !important;
    display: flex !important;
}

.game-button.khabu {
    justify-content: right;
}

.game-button.end-turn {
    justify-content: left;
}

.game-button button {
    width: 100px;
    margin-top: 1rem !important;
}