.button-row {
    height: 4rem !important;
    padding: 0 !important;
}
.game-button {
    height: inherit !important;
    display: flex !important;
}

.game-button.khabu {
    justify-content: right;
}

.game-button.end-turn {
    justify-content: left;
}

.game-button button {
    width: 100px;
    margin-top: 1rem !important;
}

.opponent-air-to-deck {
    height: 4rem;
}