.card-hand {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-right: 8rem;
    margin-left: 8rem;
}

.empty-card {
    width: 120px;
    height: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}