.card.glow {
  -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 1);
}

.card-display {
  max-width: 100%;
  max-height: 100%;
  min-width: 0; /* Allows the images to shrink on container overflow */
  width: 7rem;
  margin: auto 1em auto 1em;
}

/* if there are 6+ cards in the hand, shrink the margins */
.card-display:nth-last-child(n + 6),
.card-display:nth-last-child(n + 6) ~ .card-display {
  margin: auto 0.5em auto 0.5em;
}

/*  If there are 9+ cards in the hand, shrink the margins */
.card-display:nth-last-child(n + 9),
.card-display:nth-last-child(n + 9) ~ .card-display {
  margin: auto 0.3em auto 0.3em;
}
